.changeProfileInput {
    width: 200px;
        background-color: var(--primary-bg);
        border: none;
        outline: none;
        height: 34px;
        box-sizing: border-box;
        padding-left: var(--g8);
}
