.nochat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--primary-hint);
    background-color: var(--primary-bg);
    font-size: var(--fs-title);
    font-weight: var(--fw-title);
}
