.button {
    cursor: pointer;
    border-radius: var(--br);
    border: none;
    height: 37px;
    background-color: var(--primary);
    color: var(--primary-text-white);
    font-weight: var(--fw-button-text);
    font-size: var(--fs-button-text);

    &__disabled { 
        background-color: var(--primary-hint);
    }
}

