{{#> BaseLayout}}

<div class="vertical vcenter errorPage">
    <h1 class="errorTitle">{{title}}</h1>
    <p class="subtitle">{{subtitle}}</p>

    {{> Link href='/chats' text='Назад к чатам'}}
</div>

{{/ BaseLayout}}
