<li class="chat">
    <div class="chat__info">
        {{!-- TODO удалить усли не нужно --}}
        {{!-- {{> Avatar}} --}}
        <img src="/assets/avatar.png" alt="chatAvatar" class="chat__avatar" />
        <div class="chat__main">
                    {{!-- TODO удалить усли не нужно --}}
            {{!-- {{> ChatTitle }} --}}
            <h1 class="chat__chatTitle">{{title}}</h1>
            <p class="chat__message">{{message}}</p>
        </div>
    </div>

    <div class="chat__minor">
        <p class="chat__date">{{time}}</p>
        <div class="chat__counter">{{counter}}</div>
    </div>
</li>
