<div class="profileHeader">
    <div class="profileHeader__avatar">
        {{{ image }}}
        {{!-- {{>Image src="/assets/union.svg" alt="avatar"  class="profileHeader__avatarDefault"}} --}}
    </div>

    <h1 class="profileHeader__name">{{{ name }}}</h1>
</div>
