<div class="chatMessage {{#if my}}chatMessage__my{{/if}}">
<div class="chatText {{#if my}}chatText__my{{/if}}">
    <p class="chatText__messageText">{{message}}</p>

    <div class="chatText__date chatText__messageDate">
        {{#if my}}
            {{{ statutImage }}}
        {{/if}}
        <p class="chatText__dateText">{{date}}</p>
    </div>
</div>
</div>
