{{#if empty}}

<div class="nochat">Выберите чат чтобы отправить сообщение</div>

{{else}}

<div class="chatWindow">
<div class="chatWindow__content">
    {{{ chatHeader }}}

    <p class="chatWindow__date">{{{ date }}} </p>

    {{#> ChatMessage}}
    {{!-- {{> ChatText }} --}}
    {{{ chatText }}}
    {{/ ChatMessage}}

    {{!-- {{#> ChatMessage}}
    {{>Image src="/assets/screen.png" alt="screen" width="200"}}
    {{/ ChatMessage}}


    {{#> ChatMessage my='__my'}}
    {{> ChatText my='__my'}} 
    {{/ ChatMessage}} --}}

</div>
{{> ChatSend }}
</div>

{{/if}}
