<div class="sidebar">
    {{> Link text="Профиль" href='/profile'}}
    {{{ search }}}
    <ul class="chats">
        {{{ mockChats }}}
    </ul>
</div>


  {{!-- {{#each mockChats}}
           <div>sss</div>
        {{/each}} --}}
     {{!-- {{#each data.chats}}
            {{>ChatItem title=this.title}}
        {{/each}} --}}
        {{!-- {{{ chatItem }}} --}}
