<div class="profileParams">
<div class="profileParam">
{{{ linkChange }}}
</div>
<div class="profileParam">
    {{{ linkPasswordChange }}}
</div>
<div class="profile__buttonWrapper">
{{{ logout }}}
</div>
</div>
