<div class="vertical textField">
    <div>
        <label for="{{name}}" class="label">{{helper}}</label>
        {{ input }}
        {{!-- TODO удалить если не нужно --}}
        {{> Input className="input" placeholder=placeholder type=type id=id name=name pattern=pattern }}
    </div>
    <div class="error-message">{{error}}</div>
</div>
